@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@500&family=Raleway:wght@500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

:root {
    --white_color: #eff0f2;
    --second_color: #f41124;
    --main_color: #0030cc;
    --third_color: #d7ac29;
    --fourth_color: #3c0f75;
    --black_color: #111111;
    --shadow_color: #cfcfcf;
    --text_color: #222222;


    /*WARNA DARK MODE */
    /*--white_color: #111111;
    --main_color: #a955ed;
    --black_color: #ffffff;
    --shadow_color: #050505;
    --text_color: #f3f3f3;*/
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'poppins', sans-serif;
    background: var(--white_color);
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, var(--shadow_color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--shadow_color) 1px, transparent 1px);

}

body.active {
    --white_color: #0b1120;
    --second_color: cyan;
    --fourth_color: lime;
    --third_color: #f3f3f3;
    --main_color: cyan;
    --black_color: #ffffff;
    --shadow_color: #050505;
    --text_color: #f3f3f3;
}


.navbar {
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white_color);
    border-bottom: 1px solid var(--shadow_color);
}

.logo .logoImg {
    width: 150px;
    color: var(--black_color);
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav_links li {
    list-style: none;
}

.nav_links li a {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black_color);
    font-weight: 500;
    letter-spacing: 0.3px;
    position: relative;
}

.nav_links li a::before {
    content: '';
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background: var(--main_color);
    position: absolute;
    bottom: -3px;
    left: 0;
}

.nav_links li a.active::before,
.nav_links li a:hover::before {
    width: 60%;
}

.nav_links li a.active,
.nav_links li a:hover {
    color: var(--main_color);
}

.theme_btn {
    width: 58px;
    height: 28px;
    border-radius: 30px;
    border: 2px solid var(--black_color);
    cursor: pointer;
    position: relative;
}

.themeBtnToggle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background: var(--black_color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.themeBtnToggle.active {
    left: 75%;
}

.themeIcon {
    width: 100%;
    height: 100%;
}


.toggleMenu {
    display: none;
    width: 38px;
    height: 34px;
    position: relative;
    cursor: pointer;
}

.line {
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background: var(--main_color);
}

.line.line_1 {
    width: 60%;
    right: 0;
    top: 0;
}

.line.line_2 {
    width: 100%;
    right: 0;
    top: 14px;
}

.line.line_3 {
    width: 80%;
    right: 0;
    bottom: 0;
}

.line.line_1.active {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.line.line_2.active {
    width: 0;
    opacity: 0;
    transform: scale(0);
}

.line.line_3.active {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.hero_sec {
    /* top: -400px; */
    /* position: relative; */
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero_img {
    border-radius: 25px;
    border: 2px solid var(--main_color);
    box-shadow: 0 0 15px var(--main_color);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow: hidden; */
}

.intro_heading {
    font-size: 22px;
    color: var(--main_color);
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.name_heading {
    font-size: 60px;
    color: var(--black_color);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.skills_heading {
    font-size: 26px;
    font-weight: 450;
    color: var(--black_color);
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.skills_heading .textTyper {
    font-size: 30px;
    color: var(--main_color);
    position: relative;
}

.skills_heading .textTyper::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white_color);
    border-left: 2px solid var(--main_color);
    animation: textTyper 5s steps(30) infinite;
}

@keyframes textTyper {
    0% {
        left: 0;
    }

    40%,
    60% {
        left: 102%;
    }

    100% {
        left: 0;
    }
}

.hero_btn {
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: var(--white_color);
    background: var(--black_color);
    margin-top: 15px;
    border-radius: 40px 15px 40px 10px;
}

.hero_btn:hover {
    background: var(--main_color);
    transform: scale(1.05);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.window {

    width: 100%;
    height: auto;
    margin: auto;
    background-color: var(--white_color);
    border-radius: 25px;
}

.window-top {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 30px;
    /* background-color: var(--white_color); */
    box-shadow: inner 0 0 100px var(--white_color);
    border-bottom: 2px solid var(--main_color);
}

.window__controls {
    display: inline-flex;
}

.window__controls span {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 50%;
}

.window__controls span:nth-child(1) {
    background-color: #b22222;
}

.window__controls span:nth-child(2) {
    background-color: #d6bf3e;
}

.window__controls span:nth-child(3) {
    background-color: #4db434;
}

.window__title {
    flex: 1;
    text-align: center;
    color: #b1b1b3;
}

.window-main {

    padding: 0.5em;
    color: #4e4e4e;
}

.window-main ol {
    counter-reset: item;
    font-family: monospace;
}

.window-main ol li {
    margin-bottom: 3px;
}

.window-main ol li:before {
    content: counter(item) "  ";
    counter-increment: item;
    padding: 0 10px;
}

.tag {
    color: var(--second_color);
}

.attr {
    color: var(--fourth_color);
}

.val {
    color: var(--third_color);
}

.text {
    color: var(--text_color);
}

.comment {
    color: var(--main_color);
}

.logo-color {
    color: var(--second_color);
}

.logo-color2 {
    color: var(--second_color);
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
    transition: 2s;
    backdrop-filter: blur(0px);

}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
    transition: 2s;
}

.card:nth-child(1):before {
    background-image: url(https://media0.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif?cid=6c09b9529kltgfo2lj9wdbizi4fdh92mqp5zzkb68vhuqgyk&rid=giphy.gif);
    backdrop-filter: hue(145deg);
}

.card:nth-child(2):before {
    background-image: url(https://thumbs.gfycat.com/UnevenKlutzyCusimanse-size_restricted.gif);
    background-position: center;
}

.card:nth-child(3):before {
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(4):before {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
    transition: 2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
    transition: 2s;

}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.btn:hover {
    background-color: #0d0d0d;
}

.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

.sec_content .judul {
    color: var(--text_color);
    text-align: center;
    font-size: 50px;
}

.judul {
    color: var(--text_color);
    text-align: center;
    font-size: 50px;
}

.sec_skill .judul {
    color: var(--text_color);
    text-align: center;
    font-size: 50px;
}

#logo-grid {
    align-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    max-width: 100%;
}

.partner-logo {
    box-sizing: border-box;
    margin: 25px;
}

.partner-logo img {
    display: block;
    /* max-width: 150px; */

}

.partner-logo img:hover {
    transform: scale(1.5, 1.5);

}

.col-2 img {
    max-width: 375px;
}

.sec_skill_content {
    text-align: center;
    margin: 0px 75px 75px;
    color: var(--text_color);
}